<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.background.welfare.core.active.dao.CommodityTypeMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.pm.background.welfare.core.active.entity.CommodityType" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="commodityTypename" column="commodityTypename"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="Base_Column_List">
        a.id AS "id",
        a.parent_id AS "parentId",
        a.commodityTypename AS "commodityTypename",
        a.del_flag AS "delFlag",
        a.create_time AS "createTime",
        a.update_time AS "updateTime"
    </sql>


    <select id="selectPageList" resultType="com.pm.background.welfare.core.active.entity.CommodityType">
        select
        <include refid="Base_Column_List"/>
        from sys_dept a
        <where>
            <if test="CommodityType.parentId != null and CommodityType.parentId != ''">
                a.parent_id = #{CommodityType.parentId}
            </if>
            <if test="CommodityType.commodityTypename != null and CommodityType.commodityTypename != ''">
                a.name = #{CommodityType.commodityTypename}
            </if>
            <if test="CommodityType.delFlag != null and CommodityType.delFlag != ''">
                a.del_flag = #{CommodityType.delFlag}
            </if>

        </where>
    </select>
    <select id="queryListParentId" resultType="com.pm.background.welfare.core.active.entity.CommodityType">
        select <include refid="Base_Column_List" />
        from commodityType a where a.parent_id = #{parentId} and a.del_flag = 0
    </select>


</mapper>